<% if @blog.present? %>
  <% content_for :meta_title, "#{@blog.title}" %>
  <% content_for :meta_description, @blog.description %>
  <% content_for :meta_image, "#{url_for(@blog.preview)}" %>

  <div class="mx-auto max-w-7xl p-6 bg-scb-white text-left">
	<% if notice.present? %>
	  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
	<% end %>

	<img src="<%= url_for(@blog.preview) %>" alt="<%= @blog.title %>" class="w-full h-96 object-cover rounded-lg">

	<div class="mt-6">
	  <h1 class="text-4xl mb-3"><%= @blog.title %></h1>
	  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

	  <div id="titleBar" class="flex gap-3">
		<div class="flex gap-1 items-center">
		  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
		  </svg>
		  <span class="leading-none mt-1"><%= @blog.created_at.strftime("%B %d, %Y") %></span>
		</div>

		<div class="flex gap-1 items-center">
		  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			<path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
		  </svg>
		  <span class="leading-none mt-1"><%= @blog.author %></span>
		</div>

		<% if @blog.blog_categories.any? %>
		  <% @blog.categories.each do |category| %>
		  <div class="flex gap-1 items-center">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
			  <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
			</svg>
			<span class="leading-none mt-1"><%= category.name %></span>
		  </div>
		<% end %>
		  <% end %>
	  </div>

	  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">
	  <h2><%= @blog.body&.html_safe %></h2>
	</div>

	<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

	<% if user_signed_in? %>
	  <%= link_to "Edit this article", edit_blog_path(@blog), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
	  <%= link_to "Back to articles", blogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
	  <div class="inline-block ml-2">
		<%= button_to "Destroy this article", @blog, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium bg-red-700 text-scb-white" %>
	  </div>
	<% end %>
  </div>
<% else %>
  <p>Blog not found.</p>
<% end %>