<% if @about.blank? %>
  <%= link_to 'Create', new_about_path %>
<% else %>
 <section id="about" class="bg-<%= about.background_colour %> py-16">
    <div class="container mx-auto p-3">
      <div class="flex flex-col items-center justify-center py-16">
          <% unless  about.hide_title %>
            <h1 class="text-<%= about.title_colour %> <%= about.title_size %> font-bold mb-5 font-poppins font-light tracking-normal"><%= about.title %></h1>
            <% end %>
        <h2 class="text-<%= about.body_text_colour %> <%= about.body_text_size %> font-poppins font-light text-center"><%= about.body %></h2>

        <% if about.photo_one.attached? %>
          <%= image_tag(about.photo_one, :class => "h-2/3 w-2/3 rounded-2xl mb-5", :alt => "office") %>
        <% end %>

        <% if about.photo_two.attached? %>
          <%= image_tag(about.photo_two, :class => "h-1/2 w-1/2 rounded-2xl", :alt => "office lady") %>
        <% end %>
      </div>

      <%= link_to 'Edit', edit_about_path(about.id), data: { turbo_frame: 'abouts' } %>
<% end %>
</div>
</section>