<% if intros.nil? %>
  <%= link_to 'Create Intro', new_intro_path %>
<% else %>

  <% button_bg_class = button_class_for_background(intros.background_colour) %>
  <% button_text_class = button_class_for_text(button_bg_class) %>

  <section id="intros" class="bg-<%= intros.background_colour %> py-16">
    <div class="container mx-auto p-3">
      <div class="flex flex-col items-center justify-center py-16">
        <h1 class="text-<%= intros.title_colour %> <%= intros.title_size %> font-bold mb-5 font-poppins font-bold tracking-normal"><%= intros.title %></h1>
        <p class="text-<%= intros.body_text_colour %> <%= intros.body_text_size %> font-poppins text-center"><%= intros.body %></p>
      </div>

      <%= link_to 'Edit', edit_intro_path(intros), class: "#{button_bg_class} #{button_text_class} rounded-lg p-3", data: { turbo_frame: 'intros' } %>
    </div>
  </section>
<% end %>