<!-- app/views/home/_reviews.html.erb -->
<% if @reviews.blank? %>
  <%= link_to 'Create Review', new_review_path %>
<% else %>
  <div data-controller="carousel" style="height:260px; width: 100%; overflow:hidden" class="my-5 flex justify-between align-center">
	<button data-action="click->carousel#previousSlide">
	  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-scb-white">
		<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
	  </svg>
	</button>

	<% @reviews.each do |review| %>
	  <div class="slide absolute w-2/3 inset-x-0 my-auto mx-auto bg-scb-blue" data-carousel-target="slide">
		<div class="h-64 grid place-items-center max-w-7xl text-center mx-auto">
		  <h2 class="mb-5 mx-auto  font-poppins"><%= review.body&.html_safe %></h2>
		  <p class="text-scb-white"><%= review.author %></p>
		</div>
		<div class="flex gap-3 mx-auto justify-center">
		  <% if user_signed_in? %>
			<%= link_to 'Create Review', new_review_path, class: "bg-scb-gray text-scb-black rounded-lg p-3" %>
			<%= link_to 'Edit Review', edit_review_path(review.id), class: "bg-scb-white text-scb-black rounded-lg p-3" %>
			<%= link_to "Delete Review", review_path(review), "data-turbo-method": :delete, "data-turbo-confirm": "Are you sure?", class: "bg-red-700 rounded-lg p-3 text-scb-white" %>
		  <% end %>
		</div>
	  </div>
	<% end %>

	<button data-action="click->carousel#nextSlide">
	  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-scb-white">
		<path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
	  </svg>
	</button>
  </div>
<% end %>