<div>
  <%=  turbo_frame_tag "intros" do %>
    <%=render partial: 'home/intros', locals: { intros: @intros } %>
  <% end %>

  <%= render partial: 'home/about' %>
  <%= render partial: 'home/services' %>
  <%= render partial: 'home/story' %>
  <%= render partial: 'home/reviews' %>
  <%= render partial: 'home/contact' %>
</div>