<div>
  <%= render partial: 'home/intro' %>
  <%= render partial: 'home/about' %>
  <%= render partial: 'home/services' %>
  <%= render partial: 'home/story' %>
  <%= render partial: 'home/reviews' %>
  <%= render partial: 'home/contact' %>
</div>