<% button_bg_class = button_class_for_background(section.background_colour) %>
<% button_text_class = button_class_for_text(button_bg_class) %>

<section data-scroll-target="<%= section.name.downcase %>" id="<%= dom_id section %>" class="bg-<%= section.background_colour %> py-16">
  <div class="container mx-auto p-3">
    <div class="flex flex-col py-16">
      <% unless  section.hide_title %>
        <h1 class="text-<%= section.title_colour %> <%= section.title_size %> font-bold mb-5 font-poppins font-bold tracking-normal"><%= section.title %></h1>
      <% end %>
      <h2 class="font-poppins"><%= section.body.html_safe %></h2>
    </div>

    <div class="flex gap-3">
      <%= link_to 'Edit', edit_section_path(section), class: "#{button_bg_class} #{button_text_class} rounded-lg p-3" %>
      <%= link_to "Delete", section_path(section),  "data-turbo-method": :delete, "data-turbo-confirm": "Are you sure?", class: "bg-red-700 rounded-lg p-3 text-scb-white" %>
    </div>
  </div>
</section>
