<div id="<%= dom_id contact %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= contact.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= contact.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= contact.message %>
  </p>

</div>
