<div class="w-full p-5  flex justify-center items-center">
  <%= turbo_frame_tag "intros" do %>
      <%= form_with(model: intro, local: true, class: "w-full") do |form| %>
      <% if intro.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(intro.errors.count, "error") %> prohibited this intro from being saved:</h2>

          <ul>
            <% intro.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5 w-full">
        <%= form.label :title %>
        <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5 w-full">
        <%= form.label :body %>
        <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5 w-full">
        <%= form.label :photo_one %>
        <%= form.file_field :photo_one, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5 w-full">
        <%= form.label :photo_two %>
        <%= form.file_field :photo_two, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  <% end %>
</div>