<div class="w-full flex justify-center items-center">
    <%= form_with(model: review, local: true, class: "w-full", multipart: true) do |form| %>
      
      <% if review.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(review.errors.count, "error") %> prohibited this services from being saved:</h2>

          <ul>
            <% service.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div data-controller="tinymce">
      <div class="my-5">
        <%= form.label :body %>
        <%= form.text_area :body, :class => "tinymce block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", id: "section_body",  data: { tinymce_target: "textarea" } %>
      </div>
    </div>

        <div class="my-5 w-full">
            <%= form.label :author %>
            <%= form.text_field :author, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>

      <div class="my-5 w-full">
        <%= form.label :photo_one %>
        <%= form.file_field :photo_one, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5 w-full">
        <%= form.label :photo_two %>
        <%= form.file_field :photo_two, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="flex gap-3">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
        <%= link_to "Back", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    <% end %>
</div>