<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="<%= meta_image %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <meta property="og:image" content="<%= meta_image %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">


    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "editor", "data-turbo-track": "reload" %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", cache: "false" %>

    <!-- MailerLite Universal -->
    <script>
      (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
      (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
      ml('account', '1023640');
    </script>
    <!-- End MailerLite Universal -->

    <!-- Google tag (gtag.js) -->
    <%if Rails.env.production?  %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6XHWR18TYR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6XHWR18TYR');
    </script>
    <% end %>

  </head>

  <body class="font-montserrat bg-scb-white m-0">
    <header id="header" class="bg-black sticky top-0 z-30" data-controller="menu" data-hidden-toggle-class="hidden">
      <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="<%= root_path %>" class="-m-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="<%= image_path('scb-white-logo') %>" alt="SCB Logo">
          </a>
        </div>
        <div class="flex lg:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"  data-action="click->menu#updateNav">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" aria-hidden="true" data-slot="icon" data-menu-target="buttonIcon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>

        <!-- mobile menu -->

        <%= render partial: 'shared/mobile-menu', locals: { menu_sections: @menu_sections } %>

        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <% if user_signed_in? %>
            <%= link_to "Admin", admin_path, class:"block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete },  class:"block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950" %>
          <% else %>
            <a href="/users/sign_up" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950">Sign up</a>
            <a href="/users/sign_in" class="block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950">Log in</a>
          <% end %>
        </div>
      </nav>
      <!-- Mobile menu, show hide div -->
      <div class="lg:hidden hidden fixed top-0" role="dialog" aria-modal="true" data-menu-target="nav" >
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-scb-black text-scb-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10" data-menu-target="nav">
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5">
              <span class="sr-only">Your Company</span>
              <img class="h-8 w-auto" src="<%= image_path('scb-white-logo') %>" alt="SCB Logo" />
            </a>
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"  data-action="click->menu#updateNav">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" aria-hidden="true" data-slot="icon" data-menu-target="buttonIcon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root" data-menu-target="nav">
            <div class="-my-6 divide-y divide-gray-500/10">

              <!-- desktop menu -->

              <% render partial: 'shared/menu', locals: { menu_sections: @menu_sections } %>

              <div class="py-6">
                <% if user_signed_in? %>
                  <%= link_to "Admin", admin_path,  class:"block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950" %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete },  class:"block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950" %>
                <% else %>
                  <a href="/users/sign_up" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950">Sign up</a>
                  <a href="/users/sign_in" class="block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-scb-white hover:bg-gray-950">Log in</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <%= render partial: 'shared/contact' %>

    <div data-controller="cookie-banner" id="cookie-banner" class="fixed bottom-0 w-full bg-green-500 p-10 text-center z-30">
      <p class="mb-4">We use cookies only for analytics to enhance your experience. By continuing to visit this site you agree to our use of cookies. <%= link_to 'Learn more', "/policies/1" %></p>
    <button id="cookie-banner-button" class="button text-gray-900 rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold shadow-sm hover:bg-white/80" data-action="cookie-banner#dismiss">Got it!</button>
    </div>

  </body>
</html>